.contact-us-page-area {
  padding: 84px 0 100px;
  @media (min-width: 480px) and (max-width: 991px) {
    padding: 64px 0 80px;
  }
  @media only screen and (max-width: 479px) {
    padding: 54px 0 70px;
  }
  .title-bar50 {
    margin-bottom: 50px;
  }
  .contact-us-left {
    @media only screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
    h2 {
      font-size: 24px;
      color: $primaryTextColor;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    ul {
      margin-top: 15px;
      border: 1px solid $dividerColor;
      > li {
        padding: 15px 0 7px 30px;
        position: relative;
        border-bottom: 1px solid $dividerColor;
        @media only screen and (max-width: 1199px) {
          padding: 13px 0 4px 30px;
        }
        @media only screen and (max-width: 991px) {
          padding: 15px 0 4px 12px;
        }
        @media only screen and (max-width: 767px) {
          padding: 13px 0 4px 30px;
        }
        &:last-child {
          border-bottom: 0;
        }
        i {
          color: $primaryColor;
          position: absolute;
          z-index: 1;
          right: 30px;
          top: 40px;
          font-size: 24px;
          @media only screen and (max-width: 991px) {
            top: 20px;
          }
        }
        h3 {
          text-transform: capitalize;
          color: #111111;
          font-size: 20px;
          margin-bottom: 5px;
        }
        .contact-social {
          margin-bottom: 10px;
          border: none;
          @media only screen and (max-width: 767px) {
            margin-bottom: 20px;
          }
          li {
            display: inline;
            margin-right: 15px;
            padding: 0;
            border: none;
            @media only screen and (max-width: 1199px) {
              margin-right: 7px;
            }
            @media only screen and (max-width: 1199px) {
              margin-right: 0;
            }
            @media only screen and (max-width: 991px) {
              margin-right: 2px;
            }
            a {
              background: transparent;
              border: 1px solid $primaryColor;
              height: 35px;
              width: 35px;
              line-height: 35px;
              display: inline-block;
              text-align: center;
              @media only screen and (max-width: 991px) {
                height: 28px;
                width: 28px;
                line-height: 28px;
              }
              @include transition(all, 0.5s, ease-out);
              i {
                font-size: 20px;
                position: inherit;
                color: $primaryColor;
                @media only screen and (max-width: 991px) {
                  font-size: 16px;
                }
                @include transition(all, 0.5s, ease-out);
              }
            }
            &:hover {
              a {
                border: 1px solid $primaryColor;
                background: $primaryColor;
                @include transition(all, 0.5s, ease-out);
                i {
                  color: #ffffff;
                  @include transition(all, 0.5s, ease-out);
                }
              }
            }
          }
        }
      }
    }
  }
  .contact-form {
    .form-group {
      margin-bottom: 25px;
      .form-control {
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        border: 1px solid $dividerColor;
      }
      input {
        height: 45px;
      }
    }
    .form-response {
      .alert-info {
        background: transparent !important;
        border: none !important;
        color: #a8a7a7;
        letter-spacing: 5px;
      }
      .alert-success {
        background-color: transparent;
        color: $darkPrimaryColor;
        letter-spacing: 4px;
        border-color: transparent;
        font-weight: 500;
        @media only screen and (max-width: 479px) {
          letter-spacing: 1px;
        }
      }
      .alert {
        border-radius: 0 !important;
        padding: 15px 0;
      }
    }
  }
  .google-map-area {
    margin-top: 50px;
    @media only screen and (max-width: 479px) {
      margin-top: 30px;
    }
  }
}
