.page-error-area {
  padding: 100px 0;
  text-align: center;
  .page-error-top {
    background: $primaryColor;
    padding: 60px 0 120px 0;
    @media only screen and (max-width: 479px) {
      padding: 60px 0;
    }
    span {
      font-size: 300px;
      color: $textPrimaryColor;
      margin-bottom: 35px;
      line-height: 300px;
      font-weight: 600;
      display: inline-block;
      @media (min-width: 480px) and (max-width: 767px) {
        font-size: 220px;
      }
      @media only screen and (max-width: 479px) {
        font-size: 150px;
        line-height: 150px;
      }
      @media only screen and (max-width: 320px) {
        font-size: 100px;
      }
    }
    p {
      letter-spacing: 3px;
      font-weight: 600;
      color: $textPrimaryColor;
      font-size: 30px;
      line-height: 1.5;
      @media only screen and (max-width: 320px) {
        font-size: 24px;
      }
    }
  }
  .page-error-bottom {
    margin-top: 45px;
    p {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 18px;
      color: #7a7a7a;
      line-height: 1.6;
    }
  }
}
