/*======================================
15. Footer Area Styles
========================================*/
.footer-area-top {
  padding: 93px 0 70px;
  background: #111111;
  @media (min-width: 480px) and (max-width: 991px) {
    padding: 73px 0 50px;
  }
  @media only screen and (max-width: 479px) {
    padding: 63px 0 40px;
  }
  .footer-box {
    margin-bottom: 30px;
  }
  p {
    color: #b0b0b0;
  }
  h3 {
    font-size: 22px;
    margin-bottom: 30px;
    color: #ffffff;
  }
  .footer-social {
    margin-top: 40px;
    li {
      display: inline-block;
      margin-right: 5px;
      a {
        width: 29px;
        height: 26px;
        border: 1px solid #292f33;
        display: block;
        text-align: center;
        i {
          color: $primaryColor;
        }
        &:hover {
          i {
            color: #ffffff;
            @include transition(all, 0.3s, ease-out);
          }
        }
      }
    }
  }
  .twitter-feed {
    li {
      margin-bottom: 10px;
      i {
        float: left;
        margin: 5px 10px 0 0;
        color: #2aacff;
      }
      a {
        font-size: 13px;
        color: #b0b0b0;
        &:hover {
          color: $primaryColor;
        }
      }
      p {
        font-size: 13px;
        margin-bottom: 0;
        span {
          color: #5b5b5b;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .flickr-photos {
    li {
      display: inline-block;
      width: 32%;
      margin-bottom: -2px;
      img:hover {
        opacity: 0.5;
        @include transition(all, 0.3s, ease-out);
      }
    }
  }
  .corporate-address {
    margin-bottom: 30px;
    li {
      margin-bottom: 20px;
      color: #b0b0b0;
      i {
        color: $primaryColor;
        padding-right: 15px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .newsletter-area {
    .stylish-input-group {
      border: none;
      padding: 0 !important;
      .form-control {
        border: none;
        box-shadow: 0 0 0;
        border-radius: 0;
        background: #262626;
        text-transform: uppercase;
        color: $textPrimaryColor;
        height: 42px;
        font-size: 13px;
      }
      .input-group-addon {
        background: transparent !important;
        border: none;
        border-radius: 0;
        padding: 0;
        @include transition(all, 0.3s, ease-out);
        button {
          border: 0;
          background: #262626;
          padding: 13px 17px 14px 17px;
          i {
            color: $primaryColor;
            @include transition(all, 0.3s, ease-out);
          }
          &:hover {
            background: $darkPrimaryColor !important;
            @include transition(all, 0.3s, ease-out);
            i {
              color: $textPrimaryColor;
              @include transition(all, 0.3s, ease-out);
            }
          }
        }
      }
    }
  }
}
.footer-area-bottom {
  background: #333333;
  padding: 17px 0 0;
  text-transform: capitalize;
  font-size: 14px;
  @media only screen and (max-width: 767px) {
    text-align: center;
    padding: 17px 0;
  }
  p {
    color: #9c9c9c;
    @media only screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
    a {
      color: $textPrimaryColor;
      @include transition(all, 0.3s, ease-out);
      &:hover {
        color: $primaryColor;
        @include transition(all, 0.3s, ease-out);
      }
    }
  }
  .payment-method {
    text-align: right;
    @media only screen and (max-width: 767px) {
      text-align: center;
    }
    li {
      display: inline-block;
    }
  }
}
/*======================================
16. ScrollUp Area Styles
========================================*/
#scrollUp {
  background-color: rgba(106, 175, 8, 50%);
  bottom: 100px;
  color: #ffffff !important;
  display: block;
  font-size: 25px;
  height: 40px;
  line-height: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1) 0s;
  width: 50px;
  z-index: 99999;
}
#scrollUp i {
  display: block;
  padding-top: 7px;
}
#scrollUp:hover,
#scrollUp:focus {
  //@include rgbaColorIn($darkPrimaryColor, 80%);
  background-color: rgba(92, 157, 1, 80%);
}
/*======================================
17. Preloader Area Styles
========================================*/
#preloader {
  background: #ffffff url("img/preloader.gif") no-repeat scroll center center;
  height: 100%;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
}
/*======================================
18. Owl-controls Area Styles
========================================*/
.owl-controls {
  .owl-nav {
    position: absolute;
    top: -130px;
    z-index: 2;
    right: 15px;
    @media only screen and (max-width: 767px) {
      top: -107px;
    }
    @media only screen and (max-width: 479px) {
      top: -100px;
      position: inherit;
    }
    div {
      background: $textPrimaryColor !important;
      opacity: 1 !important;
      font-size: 18px !important;
      margin: 0 4px !important;
      padding: 5px 25px !important;
      border-radius: 50px !important;
      border: 1px solid $primaryColor;
      @media only screen and (max-width: 479px) {
        padding: 2px 20px !important;
      }
      @include transition(all, 0.3s, ease-out);
      i {
        color: $primaryColor;
        @include transition(all, 0.3s, ease-out);
      }
      &:hover {
        background: $primaryColor !important;
        @include transition(all, 0.3s, ease-out);
        i {
          color: $textPrimaryColor;
          @include transition(all, 0.3s, ease-out);
        }
      }
    }
  }
  .owl-prev {
    @media only screen and (max-width: 479px) {
      left: 0;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
    }
  }
  .owl-next {
    @media only screen and (max-width: 479px) {
      right: 0;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
    }
  }
}
