.margin-b-a-tab {
  @media only screen and (max-width: 767px) {
    margin-bottom: 90px;
  }
}

.margin-b-40 {
  margin-bottom: 40px;
}

.section-space-100-64 {
  padding: 100px 0 64px;
}

.radius-none {
  border-radius: 0 !important;
}

.wrapper-area {
  overflow: hidden;
  position: relative;
}

.solid-underline {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;

  &:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: #e3e3e3;
    left: 0;
    bottom: 0;
  }
}
