// Homepage Mixins
@mixin rgbaColorIn($color, $opacity: 1) {
    $result: rgba(red($color), green($color), blue($color), $opacity);
}

@mixin transition($transition, $duration, $timingFunction: ease-in-out) {
    -webkit-transition: all $duration $timingFunction;
    -moz-transition: all $duration $timingFunction;
    -ms-transition: all $duration $timingFunction;
    -o-transition: all $duration $timingFunction;
    transition: all $duration $timingFunction;
}
