/*-------------------------------------
13.1 Client Area Styles
---------------------------------------*/
.client-area {
    .row > div {
        padding: 0;
    }
    .client-inner-area-left {
        position: relative;
        background: url(img/client/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 566px;
        @media (min-width: 768px) and (max-width: 991px) {
            height: 420px;
        }
        @media (min-width: 480px) and (max-width: 767px) {
            height: 400px;
        }
        @media only screen and (max-width: 479px) {
            height: 350px;
        }
        &:before {
            content: "";
            //@include rgbaColorIn($primaryColor, 30%);
            background: rgba(106, 175, 8, 30%);
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    }
    .client-inner-area-right {
        padding: 100px 50px;
        background: url(img/client/2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 566px;
        @media only screen and (max-width: 991px) {
            height: auto;
            padding: 50px;
        }
        h2 {
            color: $textPrimaryColor;
            @media only screen and (max-width: 479px) {
                text-align: center;
            }
        }
        .client-box {
            padding: 40px 40px 0 40px;
            @media only screen and (max-width: 479px) {
                padding: 40px 15px 0 15px;
            }
            .media {
                a {
                    padding-right: 20px;
                    @media only screen and (max-width: 479px) {
                        float: inherit !important;
                    }
                    img {
                        border: 1px dashed $primaryColor;
                        border-radius: 50%;
                        padding: 5px;
                    }
                }
                .media-body {
                    padding-left: 15px;
                    @media only screen and (max-width: 479px) {
                        padding-left: 0;
                    }
                    h3 {
                        font-size: 22px;
                        margin-bottom: 10px;
                        a {
                            color: $primaryColor;
                        }
                    }
                    span {
                        color: #b8b8b8;
                        margin-bottom: 20px;
                        display: block;
                    }
                    p {
                        color: #dcdcdc;
                    }
                    .client-quote {
                        position: absolute;
                        left: 15px;
                        top: 0;
                        z-index: 1;
                    }
                }
            }
        }
        .owl-controls {
            text-align: left;
            margin-left: 182px;
            @media only screen and (max-width: 1199px) {
                margin-left: 180px;
            }
            @media only screen and (max-width: 992px) {
                margin-left: 180px;
            }
            @media only screen and (max-width: 479px) {
                margin-left: 10px;
            }
            .owl-dots {
                text-align: left;
                > div span {
                    width: 30px;
                    border: 2px solid #869791;
                    background: transparent;
                    height: 10px;
                }
                > .active span {
                    background: $primaryColor;
                    border: 2px solid $primaryColor;
                }
            }
        }
    }
}
/*---------------------------------------
13.2 Pagination Area Styles
---------------------------------------*/
.mypagination {
    text-align: center;
    margin-top: 25px;
    li {
        display: inline-block;
        margin: 0 1px;
        a {
            width: 42px;
            font-size: 16px;
            color: $textPrimaryColor;
            height: 40px;
            background: #111111;
            display: block;
            line-height: 40px;
            text-align: center;
            @include transition(all, 0.5s, ease-out);
            &:hover {
                background: $primaryColor;
                @include transition(all, 0.5s, ease-out);
            }
        }
    }
}
/*-------------------------------------
 13.3 Counter Area Styles
---------------------------------------*/
.counter-area {
    padding: 100px 0 60px;
    background: url(img/counter-back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width: 480px) and (max-width: 991px) {
        padding: 80px 0 40px;
    }
    @media only screen and (max-width: 479px) {
        padding: 70px 0 30px;
        .col-xs-6 {
            width: 100%;
        }
    }
    .about-counter-list {
        margin-bottom: 30px;
        text-align: center;
        a {
            i {
                font-size: 60px;
                color: #ffffff;
            }
        }
        h2 {
            position: relative;
            color: $primaryColor;
            margin-bottom: 0;
        }
        span {
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
        }
    }
}
/*-------------------------------------
13.4 Why Choose Us Area Styles
---------------------------------------*/
.why-choose-us-area {
    padding: 86px 0 45px;
    .why-choose-us-box {
        margin-bottom: 30px;
        .media {
            a {
                padding-right: 0;
                i {
                    border: 1px dotted $primaryColor;
                    color: $primaryColor;
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    line-height: 80px;
                    text-align: center;
                    @include transition(all, 0.5s, ease-out);
                    font-size: 30px;
                }
            }
            .media-body {
                padding-left: 30px;
                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                    a {
                        color: #111111;
                        @include transition(all, 0.5s, ease-out);
                        &:hover {
                            color: $primaryColor;
                            @include transition(all, 0.5s, ease-out);
                        }
                    }
                }
            }
        }
        &:hover {
            .media a i {
                background: $primaryColor;
                color: #ffffff;
                @include transition(all, 0.5s, ease-out);
            }
        }
    }
}
/*-------------------------------------
13.5 Help Contact Banner Area Styles
---------------------------------------*/
.help-contact-banner-area {
    padding: 95px 0 100px;
    background: url(img/help-contact-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-width: 992px) and (max-width: 1199px) {
        padding: 85px 0 90px;
    }
    @media (min-width: 480px) and (max-width: 991px) {
        padding: 75px 0 80px;
    }
    @media only screen and (max-width: 991px) {
        text-align: center;
    }
    @media only screen and (max-width: 479px) {
        padding: 65px 0 70px;
    }
    h2 {
        color: #ffffff;
        display: inline;
        font-size: 38px;
        span {
            font-weight: 400;
        }
    }
    a {
        margin-top: 5px;
        @media (min-width: 992px) and (max-width: 1199px) {
            margin-top: 30px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            padding: 10px 35px;
            margin-top: 33px;
        }
        @media only screen and (max-width: 991px) {
            padding: 10px 0;
            width: 180px;
            display: block;
            margin: 0 auto;
            text-align: center;
            margin-top: 15px;
        }
    }
}
/*-------------------------------------
13.6 Help Contact Banner 2 Area Styles
---------------------------------------*/
.help-contact-banner2-area {
    padding: 95px 0 100px;
    background: url(img/help-contact-banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-width: 480px) and (max-width: 991px) {
        padding: 75px 0 80px;
    }
    @media only screen and (max-width: 991px) {
        text-align: center;
    }
    @media only screen and (max-width: 479px) {
        padding: 65px 0 70px;
    }
    h2 {
        color: #ffffff;
        display: inline;
        font-size: 38px;
        @media only screen and (max-width: 991px) {
            display: inherit;
        }
        span {
            font-weight: 400;
        }
    }
    a {
        margin-top: 5px;
    }
}
/*-------------------------------------
13.7 Contact Banner Area Styles
---------------------------------------*/
.contact-banner-area {
    padding: 85px 0 100px;
    background: url(img/contact-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    @media (min-width: 480px) and (max-width: 991px) {
        padding: 65px 0 80px;
    }
    @media only screen and (max-width: 479px) {
        padding: 55px 0 70px;
    }
    h2 {
        color: #ffffff;
        font-size: 38px;
        span {
            color: $primaryColor;
        }
    }
    p {
        color: #e5e5e5;
        margin-bottom: 42px;
    }
    a {
        i:before {
            color: #ffffff;
            font-size: 60px;
            @include transition(all, 0.5s, ease-out);
        }
        &:hover i:before {
            color: $primaryColor;
            @include transition(all, 0.5s, ease-out);
        }
    }
}
/*-------------------------------------
13.8 Contact Banner 2 Area Styles
---------------------------------------*/
.contact-banner2-area {
    padding: 96px 0 110px;
    background: url(img/contact-banner2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width: 480px) and (max-width: 991px) {
        padding: 76px 0 90px;
    }
    @media only screen and (max-width: 479px) {
        padding: 66px 0 80px;
        text-align: center;
    }
    h2 {
        color: #ffffff;
        span {
            color: $primaryColor;
        }
    }
    p {
        color: #e5e5e5;
        margin-bottom: 42px;
        width: 60%;
        @media only screen and (max-width: 479px) {
            width: 100%;
            padding: 0 5px;
        }
    }
}
/*-------------------------------------
13.9 Emergrncy Number Area Styles
---------------------------------------*/
.emergrncy-number-area {
    background: $primaryColor;
    .row > div {
        padding: 0;
    }
    .emergrncy-img-holder {
        background: url(img/imergency-banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 175px;
    }
    .emergrncy-content-holder {
        display: table;
        background: $primaryColor;
        padding: 0 30px;
        color: #ffffff;
        height: 175px;
        &:before {
            border-color: transparent $primaryColor;
            border-style: solid;
            border-width: 0 90px 175px 0;
            content: "";
            height: 0;
            left: -90px;
            position: absolute;
            top: 0;
            width: 0;
            z-index: 4;
        }
        .emergrncy-content-holder-inner {
            display: table-cell;
            vertical-align: middle;
            @media only screen and (max-width: 479px) {
                padding: 20px 0;
            }
            h3 {
                font-size: 36px;
                margin-bottom: 0;
                @media only screen and (max-width: 479px) {
                    font-size: 29px;
                }
            }
        }
    }
}
/*-------------------------------------
13.10 Ask Question Area Styles
---------------------------------------*/
.ask-question-area {
    padding: 86px 0 100px;
    @media (min-width: 480px) and (max-width: 991px) {
        padding: 66px 0 80px;
    }
    @media only screen and (max-width: 991px) {
        h2 {
            font-size: 26px;
        }
    }
    @media only screen and (max-width: 479px) {
        padding: 56px 0 70px;
    }
}
.ask-question-left {
    @media only screen and (max-width: 767px) {
        margin-bottom: 50px;
    }
    h2 {
        @media (min-width: 992px) and (max-width: 1199px) {
            font-size: 34px;
        }
        @media only screen and (max-width: 479px) {
            font-size: 30px;
        }
    }
    .panel-default {
        border: none;
        box-shadow: none;
        .panel-heading {
            padding: 0;
            background-color: $primaryColor;
            border-radius: 25px;
            color: rgb(255, 255, 255);
            transition: all 0.5s ease 0s;
            .panel-title {
                font-weight: 600;
                font-size: 16px;
                a {
                    padding: 13px 15px 12px 15px;
                    color: #ffffff;
                    display: block;
                    span {
                        color: #ffffff;
                    }
                }
            }
            .accordion-toggle:after {
                font-family: FontAwesome;
                content: "\f068";
                float: right;
                color: #ffffff;
                font-size: 18px;
            }
            .accordion-toggle.collapsed:after {
                content: "\f067";
                font-family: FontAwesome;
            }
        }
        .panel-body {
            padding: 9px 25px;
            border-top: 0 !important;
        }
        .active {
            background: $primaryTextColor;
            .panel-title {
                a {
                    color: #ffffff;
                }
            }
        }
    }
}
.ask-question-right {
    .form-group {
        margin-bottom: 25px;
        .form-control {
            border-radius: 5px;
            background: transparent;
            border: 1px dashed #d3d3d3 !important;
            box-shadow: none;
            border: none;
        }
        input {
            height: 50px;
        }
    }
}
/*-------------------------------------
13.11 Ask Question 2 Area Styles
---------------------------------------*/
.ask-question2-area {
    padding: 86px 0 88px;
    @media only screen and (max-width: 991px) {
        h2 {
            font-size: 26px;
        }
    }
    @media (min-width: 480px) and (max-width: 991px) {
        padding: 66px 0 68px;
    }
    @media only screen and (max-width: 479px) {
        padding: 56px 0 58px;
    }
    .ask-question-right {
        .client-box {
            margin-bottom: 30px;
            .media {
                a {
                    img {
                        border: 1px dashed $primaryColor;
                        padding: 5px;
                        border-radius: 50%;
                    }
                }
                .media-body {
                    padding-left: 15px;
                    position: relative;
                    h3 {
                        margin-bottom: 0;
                        a {
                            color: $primaryColor;
                        }
                    }
                    span {
                        display: block;
                        padding-bottom: 15px;
                    }
                    p {
                        margin-bottom: 13px;
                    }
                    .client-quote {
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 1;
                        i {
                            color: #e1e1e1;
                        }
                    }
                }
            }
        }
        .owl-controls {
            text-align: left;
            margin-left: 22%;
            .owl-dots {
                margin-left: 10px;
                text-align: left;
                > div span {
                    width: 30px;
                    border: 1px solid #869791;
                    background: transparent;
                    height: 10px;
                }
                > .active span {
                    background: $primaryColor;
                }
            }
        }
    }
}
/*-------------------------------------
13.12 Estimate Area Styles
---------------------------------------*/
.estimate-area {
    position: relative;
    height: 110px;
    @media only screen and (max-width: 767px) {
        display: none;
    }
    > div {
        background: $primaryColor;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 110px;
    }
    &:before {
        content: "";
        background: #5d9f00;
        position: absolute;
        z-index: 1;
        width: 50%;
        top: 0;
        height: 100%;
        left: 0;
    }
    &:after {
        content: "";
        background: $primaryColor;
        position: absolute;
        z-index: 1;
        width: 50%;
        top: 0;
        height: 100%;
        right: 0;
    }
    .estimate-holder-left {
        background: #5d9f00;
        height: 110px;
        position: absolute;
        top: 0;
        z-index: 3;
        display: table;
        &:before {
            content: "";
            background: #5d9f00;
            position: absolute;
            width: 15px;
            top: 0;
            height: 100%;
            left: -15px;
            z-index: 4;
        }
        &:after {
            content: "";
            border-color: transparent #5d9f00;
            border-style: solid;
            border-width: 110px 0 0 75px;
            position: absolute;
            width: 50%;
            top: 0;
            height: 100%;
            right: -108px;
            z-index: 4;
            @media only screen and (max-width: 991px) {
                display: none;
            }
        }
        h2 {
            color: #ffffff;
            vertical-align: middle;
            display: table-cell;
            padding-right: 3px;
            font-size: 22px;
        }
    }
    .estimate-holder-right {
        ul {
            display: table;
            height: 110px;
            text-align: right;
            position: relative;
            li {
                display: table-cell;
                vertical-align: middle;
                margin-left: 10px;
                .form-group {
                    margin: 10px;
                    input {
                        background: transparent;
                        border: 1px dotted #ffffff;
                        color: #ffffff;
                    }
                }
                &:last-child {
                    text-align: center;
                    position: absolute;
                    width: 220px;
                    top: 90px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
        input.form-control::-webkit-input-placeholder {
            color: #ffffff;
        }
        input.form-control::-moz-placeholder {
            color: #ffffff;
        }
        input.form-control:-moz-placeholder {
            color: #ffffff;
        }
        input.form-control:-ms-input-placeholder {
            color: #ffffff;
        }
    }
}
