/*---------------------------------------
10.1 Shop Common Area Styles
---------------------------------------*/
.shop-page-area {
    padding: 100px 0;
    @media (min-width: 480px) and (max-width: 991px) {
        padding: 80px 0;
    }
    @media only screen and (max-width: 479px) {
        padding: 70px 0;
        .col-xs-6 {
            width: 100%;
        }
    }
    .tab-content {
        margin-top: 30px;
    }
    .inner-shop-top-left {
        padding-top: 5px;
        text-align: left;
        p {
            font-size: 18px;
            color: #222222;
        }
    }
    .inner-shop-top-right {
        float: right;
        @media only screen and (max-width: 767px) {
            float: none;
        }
        ul {
            > li {
                border: 1px solid #e1e1e1;
                display: inline-block;
                padding: 8px 17px;
                &:hover a i {
                    color: $primaryColor;
                }
                > a {
                    > i {
                        color: $primaryTextColor;
                    }
                }
                .dropdown {
                    button {
                        padding: 0;
                        background: transparent;
                        span {
                            margin-left: 15px;
                        }
                    }
                    .dropdown-menu {
                        border-radius: 0;
                        left: -18px;
                        margin: 10px 0 0 0;
                        > li {
                            border: none;
                            padding: 0;
                            display: inherit;
                        }
                    }
                }
            }
            > .active i {
                color: $primaryColor;
            }
        }
    }
}
/*---------------------------------------
10.2 Shop Product Box 1 Styles
---------------------------------------*/
.product-box1 {
    position: relative;
    overflow: hidden;
    background: #f8f8f8;
    text-align: center;
    margin-bottom: 30px;
    .product-social {
        opacity: 0;
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 25%;
        z-index: 2;
        -moz-transform: scale(1) translateX(-250px);
        -webkit-transform: scale(1) translateX(-250px);
        -o-transform: scale(1) translateX(-250px);
        -ms-transform: scale(1) translateX(-250px);
        transform: scale(1) translateX(-250px);
        @include transition(all, 1s, ease-out);
        li {
            display: inline-block;
            height: 40px;
            width: 42px;
            border: 1px solid #ffffff;
            background: #ffffff;
            margin: 0 1px;
            @include transition(all, 0.5s, ease-out);
            a {
                display: block;
                i {
                    line-height: 40px;
                    color: $accentColor;
                    @include transition(all, 0.5s, ease-out);
                }
            }
            &:hover {
                background: $accentColor;
                @include transition(all, 0.5s, ease-out);
                i {
                    color: $textPrimaryColor;
                    @include transition(all, 0.5s, ease-out);
                }
            }
        }
    }
    .product-img-holder {
        position: relative;
        &:after {
            opacity: 0;
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            //@include rgbaColorIn($primaryColor, 80%);
            background-color: rgba(106, 175, 8, 80%);
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            @include transition(all, 0.5s, ease-out);
        }
        img {
            display: inherit;
        }
    }
    .product-content-holder {
        padding: 15px 0 30px;
        h3 {
            font-size: 22px;
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 10px;
            a {
                color: #111111;
                @include transition(all, 0.5s, ease-out);
                &:hover {
                    color: $primaryColor;
                    @include transition(all, 0.5s, ease-out);
                }
            }
        }
        ul {
            padding-bottom: 5px;
            li {
                display: inline-block;
                i {
                    color: #f7c51d;
                }
            }
        }
        span {
            color: $primaryColor;
            font-size: 20px;
            font-weight: 600;
            span {
                margin-right: 15px;
                color: $darkPrimaryColor;
                text-decoration: line-through;
            }
        }
    }
    &:hover {
        .product-social {
            opacity: 1;
            -moz-transform: scale(1) translateX(0px);
            -webkit-transform: scale(1) translateX(0px);
            -o-transform: scale(1) translateX(0px);
            -ms-transform: scale(1) translateX(0px);
            transform: scale(1) translateX(0px);
            @include transition(all, 0.5s, ease-out);
        }
        .product-img-holder:after {
            opacity: 1;
            @include transition(all, 0.5s, ease-out);
        }
    }
}
/*---------------------------------------
10.3 Shop Product Box 2 Styles
---------------------------------------*/
.product-box2 {
    margin-bottom: 30px;
    a img {
        width: 100%;
        @include transition(all, 0.5s, ease-out);
        &:hover {
            opacity: 0.5;
            @include transition(all, 0.5s, ease-out);
        }
    }
    .media-body {
        text-align: left;
        padding: 7px 30px 0 20px;
        @media only screen and (max-width: 1199px) {
            padding: 0 30px 0 20px;
        }
        @media only screen and (max-width: 991px) {
            padding: 8px 30px 0 0;
        }
        .product-box2-content {
            h3 {
                font-size: 22px;
                text-transform: capitalize;
                margin-bottom: 10px;
                a {
                    color: $accentColor;
                    @include transition(all, 0.5s, ease-out);
                    &:hover {
                        color: $primaryColor;
                        @include transition(all, 0.5s, ease-out);
                    }
                }
            }
            ul {
                margin-bottom: 15px;
                @media only screen and (max-width: 1199px) {
                    margin-bottom: 10px;
                }
                li {
                    display: inline-block;
                    i {
                        color: #f7c51d;
                    }
                }
            }
            span {
                font-size: 20px;
                display: block;
                margin-bottom: 20px;
                color: $primaryColor;
                font-weight: 600;
            }
            p {
                margin-bottom: 30px;
                color: $secondaryTextColor;
                @media only screen and (max-width: 1199px) {
                    margin-bottom: 19px;
                }
            }
        }
        .product-box2-cart {
            li {
                margin: 0 2px 0 0;
                display: inline-block;
                border: 1px solid $dividerColor;
                a {
                    line-height: 42px;
                    text-align: center;
                    height: 42px;
                    padding: 0 20px;
                    background: #111111;
                    display: block;
                    color: $textPrimaryColor;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                    @include transition(all, 0.5s, ease-out);
                    i {
                        line-height: 42px;
                        font-size: 14px;
                    }
                    &:hover {
                        background: $primaryColor;
                    }
                }
            }
        }
    }
}
/*---------------------------------------
10.4 Shop Details Page Styles
---------------------------------------*/
.shop-page-area {
    .inner-shop-details {
        .inner-product-details-left {
            text-align: center;
            .tab-content {
                display: inline-block;
                margin-top: 0;
                border: 1px solid #e1e1e1;
                a {
                    display: block;
                    img {
                        width: 100%;
                    }
                }
            }
            ul {
                @media only screen and (max-width: 767px) {
                    margin-bottom: 30px;
                }
                li {
                    border: 1px solid #e1e1e1;
                    width: 29%;
                    display: inline-block;
                    margin: 16px 17px 0 0;
                    @media only screen and (max-width: 1199px) {
                        margin: 16px 14px 0 0;
                    }
                    @media only screen and (max-width: 767px) {
                        width: auto;
                    }
                    @media only screen and (max-width: 399px) {
                        width: 29%;
                    }
                    a img {
                        width: 100%;
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                    &:last-child {
                        margin: 16px 0 0 0;
                    }
                }
                .active a img {
                    opacity: 0.5;
                }
            }
        }
        .inner-product-details-right {
            h3 {
                color: #111111;
            }
            .rating {
                margin: 15px 0;
                li {
                    display: inline-block;
                    i {
                        color: #f7c51d;
                    }
                    &:last-child {
                        i {
                            color: #a7a7a7;
                            margin-right: 15px;
                        }
                    }
                }
            }
            .price {
                font-size: 24px;
                font-weight: 600;
                color: #000000;
                margin-bottom: 22px;
            }
            > span {
                font-size: 16px;
                font-weight: 600;
                color: $primaryTextColor;
                text-transform: uppercase;
                display: block;
            }
            .solid-underline {
                padding-bottom: 20px;
                margin-bottom: 10px;
            }
            .inner-product-details-cart {
                margin-bottom: 20px;
                @media only screen and (max-width: 479px) {
                    text-align: center;
                }
                li {
                    vertical-align: top;
                    margin: 0 2px 0 0;
                    display: inline-block;
                    border: 1px solid $dividerColor;
                    a {
                        line-height: 52px;
                        text-align: center;
                        height: 52px;
                        padding: 0 20px;
                        background: $accentColor;
                        display: block;
                        color: $textPrimaryColor;
                        font-size: 14px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-weight: 600;
                        @include transition(all, 0.5s, ease-out);
                        i {
                            line-height: 54px;
                            font-size: 14px;
                            @include transition(all, 0.5s, ease-out);
                        }
                        &:hover {
                            background: $primaryColor;
                            color: $textPrimaryColor;
                            @include transition(all, 0.5s, ease-out);
                            i {
                                color: $textPrimaryColor;
                                @include transition(all, 0.5s, ease-out);
                            }
                        }
                    }
                    .input-group {
                        position: relative;
                        box-shadow: none !important;
                        .form-control {
                            box-shadow: none;
                        }
                        input {
                            border: none;
                            height: 52px;
                            width: 100px;
                            padding-right: 47px;
                            font-size: 20px;
                            text-align: center;
                        }
                        .input-group-btn-vertical {
                            position: absolute;
                            z-index: 3;
                            top: 0;
                            right: 0;
                            .btn-default {
                                border: 0;
                            }
                            button {
                                display: block;
                                border-left: 1px solid $dividerColor !important;
                                border-radius: 0 !important;
                                background: transparent;
                                padding: 4px 12px;
                                line-height: 1.3;
                                &:last-child {
                                    border-top: 1px solid $dividerColor;
                                }
                                i {
                                    line-height: 1;
                                }
                            }
                        }
                    }
                }
            }
            .ctg-name-tag {
                p {
                    margin-bottom: 0;
                    span {
                        color: #222222;
                    }
                }
            }
        }
        .product-details-tab-area {
            margin: 60px 0 50px;
            border: 1px solid #e6e6e6;
            overflow: hidden;
            ul {
                li {
                    margin: -2px;
                    display: inline-block;
                    padding: 10px 0;
                    background: #f4f4f4;
                    border-right: 1px solid #e6e6e6;
                    border-bottom: 1px solid #e6e6e6;
                    a {
                        color: $primaryTextColor;
                        padding: 12px 30px;
                        text-transform: capitalize;
                        @media only screen and (max-width: 479px) {
                            padding: 12px;
                        }
                    }
                }
                .active {
                    background: transparent;
                    border-bottom: none;
                    a {
                        color: $primaryColor;
                        text-decoration: none;
                    }
                    &:last-child {
                        border-right: none;
                    }
                }
            }
            .tab-content {
                margin-top: 0;
                padding: 35px 35px 15px 35px;
            }
        }
        .featured-products-area2 {
            h3.sub-title {
                color: #111111;
                margin-bottom: 35px;
            }
            .owl-controls {
                margin-top: 0;
                .owl-nav {
                    position: absolute;
                    top: -75px;
                    z-index: 2;
                    right: 15px;
                    @media only screen and (max-width: 479px) {
                        position: inherit;
                    }
                    div {
                        background: $primaryColor !important;
                        opacity: 1 !important;
                        font-size: 18px !important;
                        margin: 0 4px !important;
                        width: 34px !important;
                        height: 32px !important;
                        border-radius: 0 !important;
                        border: 1px solid $primaryColor;
                        padding: 0 !important;
                        line-height: 30px;
                        @include transition(all, 0.3s, ease-out);
                        i {
                            color: #ffffff;
                            @include transition(all, 0.3s, ease-out);
                        }
                        &:hover {
                            border: 1px solid #111111;
                            background: #111111 !important;
                            @include transition(all, 0.3s, ease-out);
                        }
                    }
                }
            }
        }
    }
}
