.slider-1 {
    h1 {
        text-transform: capitalize;
        font-weight: 400;

        span {
            color: $primaryColor;
            font-weight: 600;
        }
    }

    p {
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }

    a {
        border-bottom: 0;
    }
}

.slider-2 {
    h1 {
        font-weight: 400;
        text-transform: capitalize;

        span {
            color: $primaryColor;
            font-weight: 600;
        }
    }

    p {
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }

    a {
        border-bottom: 0;
    }
}

.slider-3 {
    h1 {
        font-weight: 400;
        text-transform: capitalize;

        span {
            color: $primaryColor;
            font-weight: 600;
        }
    }

    p {
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }

    a {
        border-bottom: 0;
    }
}

.slider-4 {
    h1 {
        font-weight: 400;
        text-transform: capitalize;

        span {
            color: $primaryColor;
            font-weight: 600;
        }
    }

    p {
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }

    a {
        border-bottom: 0;
    }
}

.nivo-directionNav a {
    opacity: 0.7 !important;

    &:hover {
        opacity: 1 !important;
    }
}

// Slider 1
.slider1-area {
    position: relative;

    &:before {
        content: "";
        //@include rgbaColorIn(#000000, 60%);
        background-color: rbga(0, 0, 0, 60%);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 6;
    }

    .nivo-controlNav {
        display: none;
    }

    .nivo-directionNav {
        @media only screen and (max-width: 991px) {
            opacity: 0;
            @include transition(all, 0.5s, ease-out);

            a.nivo-prevNav {
                left: 10px;
            }

            a.nivo-nextNav {
                right: 10px;
            }
        }
    }

    .nivo-caption {
        top: -80px;

        @media only screen and (max-width: 991px) {
            top: 0;
        }
    }

    .slider-btn-area {
        margin-top: 50px;

        a {
            display: inline-block;
            margin: 0 10px;

            @media only screen and (max-width: 767px) {
                display: none !important;
            }
        }
    }

    &:hover .nivo-directionNav {
        opacity: 1;
        @include transition(all, 0.5s, ease-out);
    }
}

// Slider 2
.slider2-area {
    position: relative;

    &:before {
        content: "";
        //@include rgbaColorIn(#000000, 60%);
        background-color: rgba(0, 0, 0, 60%);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 6;
    }

    .nivo-controlNav {
        display: none;
    }

    .nivo-directionNav {
        @media only screen and (max-width: 991px) {
            opacity: 0;
            @include transition(all, 0.5s, ease-out);

            a.nivo-prevNav {
                left: 10px;
            }

            a.nivo-nextNav {
                right: 10px;
            }
        }
    }

    .nivo-caption {
        top: 20px;

        @media only screen and (max-width: 991px) {
            top: 0;
        }
    }

    .slider-btn-area {
        margin-top: 50px;

        a {
            display: inline-block;
            margin: 0 10px;

            @media only screen and (max-width: 767px) {
                display: none !important;
            }
        }
    }

    &:hover .nivo-directionNav {
        opacity: 1;
        @include transition(all, 0.5s, ease-out);
    }
}

// Slider 3
.slider3-area {
    position: relative;

    &:before {
        content: "";
        //@include rgbaColorIn(#000000, 60%);
        background-color: rgba(0, 0, 0, 60%);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 6;
    }

    .nivo-controlNav {
        display: none;
    }

    .nivo-directionNav {
        a.nivo-prevNav {
            left: 5%;
        }

        a.nivo-nextNav {
            right: 5%;
        }

        @media only screen and (max-width: 1199px) {
            opacity: 0;
            @include transition(all, 0.5s, ease-out);

            a.nivo-prevNav {
                left: 10px;
            }

            a.nivo-nextNav {
                right: 10px;
            }
        }
    }

    .nivo-caption {
        top: 60px;

        @media only screen and (max-width: 767px) {
            top: 0;
        }
    }

    .slider-btn-area {
        margin-top: 50px;

        a {
            display: inline-block;
            margin: 0 10px;
        }
    }

    &:hover .nivo-directionNav {
        opacity: 1;
        @include transition(all, 0.5s, ease-out);
    }

    @media only screen and (max-width: 991px) {
        .slider-1,
        .slider-2,
        .slider-3 {
            .slider-btn-area {
                display: none;
            }
        }
    }

    @media (min-width: 479px) and (max-width: 767px) {
        .slider-1,
        .slider-2,
        .slider-3 {
            .slider-btn-area {
                display: block;
            }
        }
    }
}

// SLIDER 4 MAIN
.slider4-area {
    position: relative;

    &:before {
        content: "";
        //@include rgbaColorIn(#000000, 60%);
        background-color: rgba(0, 0, 0, 60%);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 6;
    }

    .nivo-controlNav {
        display: none;
    }

    .nivo-directionNav {
        a.nivo-prevNav {
            left: 5%;
        }

        a.nivo-nextNav {
            right: 5%;
        }

        @media only screen and (max-width: 1199px) {
            opacity: 0;
            @include transition(all, 0.5s, ease-out);

            a.nivo-prevNav {
                left: 10px;
            }

            a.nivo-nextNav {
                right: 10px;
            }
        }
    }

    &:hover .nivo-directionNav {
        opacity: 1;
        @include transition(all, 0.5s, ease-out);
    }

    .nivo-caption {
        top: 10px;
    }

    .slider-1 {
        span {
            letter-spacing: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
            display: block;

            @media only screen and (max-width: 767px) {
                display: none;
            }
        }

        h1 {
            text-transform: uppercase;
            margin-bottom: 60px;
            font-size: 48px;

            @media only screen and (max-width: 767px) {
                font-size: 32px;
            }

            @media only screen and (max-width: 479px) {
                font-size: 24px;
            }
        }

        a {
            border-radius: 0;
        }
    }

    .slider-2 {
        span {
            letter-spacing: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
            display: block;

            @media only screen and (max-width: 767px) {
                display: none;
            }
        }

        h1 {
            text-transform: uppercase;
            margin-bottom: 60px;
            font-size: 48px;

            @media only screen and (max-width: 767px) {
                font-size: 32px;
            }

            @media only screen and (max-width: 479px) {
                font-size: 24px;
            }
        }

        a {
            border-radius: 0;
        }
    }

    .slider-3 {
        span {
            letter-spacing: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
            display: block;

            @media only screen and (max-width: 767px) {
                display: none;
            }
        }

        h1 {
            text-transform: uppercase;
            margin-bottom: 60px;
            font-size: 48px;

            @media only screen and (max-width: 767px) {
                font-size: 32px;
            }

            @media only screen and (max-width: 479px) {
                font-size: 24px;
            }
        }

        a {
            border-radius: 0;
        }
    }

    .slider-4 {
        span {
            letter-spacing: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
            display: block;

            @media only screen and (max-width: 767px) {
                display: none;
            }
        }

        h1 {
            text-transform: uppercase;
            margin-bottom: 60px;
            font-size: 48px;

            @media only screen and (max-width: 767px) {
                font-size: 32px;
            }

            @media only screen and (max-width: 479px) {
                font-size: 24px;
            }
        }

        a {
            border-radius: 0;
        }
    }

    @media only screen and (max-width: 479px) {
        .slider-1,
        .slider-2,
        .slider-3 {
            .slider-btn-area {
                display: none;
            }
        }
    }
}
