.title {
  text-transform: uppercase;
  color: #111111;
  position: relative;
  margin-bottom: 3px;
  font-size: 32px;

  @media only screen and (max-width: 991px) {
    font-size: 30px;
  }

  @media only screen and (max-width: 479px) {
    text-align: center;
  }

  &:before {
    content: "";
    height: 1px;
    width: 55%;
    background: $dividerColor;
    margin-right: 150px;
    position: absolute;
    right: 0;
    top: 28px;

    @media only screen and (max-width: 1199px) {
      display: none;
    }
  }
}

.solid-title {
  text-transform: uppercase;
  color: #111111;
  position: relative;
  margin-bottom: 3px;
  font-size: 32px;

  @media only screen and (max-width: 479px) {
    text-align: center;
  }

  &:before {
    content: "";
    height: 1px;
    width: 60%;
    background: $dividerColor;
    position: absolute;
    right: 0;
    top: 28px;

    @media only screen and (max-width: 1199px) {
      display: none;
    }
  }
}

.sub-title {
  text-transform: capitalize;
  color: $primaryColor;
  margin-bottom: 55px;
  letter-spacing: 2px;

  @media only screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 479px) {
    text-align: center;
  }
}

.section-title-area {
  margin-bottom: 37px;
  display: inline-block;
  text-align: center;

  h2.section-title {
    margin-bottom: 10px;
    color: #111111;

    span {
      color: $primaryColor;
    }
  }

  h3.section-title {
    font-size: 16px;
    letter-spacing: 8px;
  }

  .title-bottom-icon {
    width: 235px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;

    i {
      color: $primaryColor;
      font-size: 16px;
    }

    &:before {
      content: "";
      height: 1px;
      width: 80px;
      background: #b0b0b0;
      bottom: 10px;
      left: 10px;
      position: absolute;
    }

    &:after {
      content: "";
      height: 1px;
      width: 80px;
      background: #b0b0b0;
      bottom: 10px;
      right: 10px;
      position: absolute;
    }
  }
}

.title-sidebar {
  position: relative;
  text-transform: capitalize;
  font-size: 24px;
  color: #111111;
  margin-bottom: 30px;

  &:after {
    position: absolute;
    content: "";
    background: $primaryColor;
    height: 3px;
    width: 50px;
    bottom: -13px;
    left: 0;
    z-index: 1;
  }
}

.title-bar35 {
  color: #111111;
  margin-bottom: 16px;
  padding-bottom: 12px;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background: $primaryColor;
    height: 3px;
    width: 35px;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.title-bar35small {
  color: #111111;
  margin-bottom: 12px;
  padding-bottom: 10px;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background: $primaryColor;
    height: 3px;
    width: 35px;
    bottom: 0;
    left: 0;
    z-index: 1;

    @media only screen and (max-width: 991px) {
      right: 0;
      margin: 0 auto;
    }

    @media only screen and (max-width: 479px) {
      right: inherit;
    }
  }
}

.title-bar50 {
  margin-bottom: 40px;
  position: relative;
  color: #111111;

  @media only screen and (max-width: 479px) {
    text-align: center;
  }

  &:after {
    position: absolute;
    content: "";
    background: $primaryColor;
    height: 3px;
    width: 50px;
    bottom: -15px;
    left: 0;
    z-index: 1;

    @media only screen and (max-width: 479px) {
      right: 0;
      margin: 0 auto;
    }
  }
}
