.updated-at {
    span {
        font-size: 11px;
        font-style: italic;
    }
}

.privacy-np {
    padding-top: 20px;

    &:before {
        content: "#";
        font-weight: 400;
        margin-left: -25px;
        position: absolute;
        font-size: 28px;
        color: #ccc;
        opacity: 0.6;
    }

    &:hover {
        &:before {
            color: #6aaf08;
        }
    }

    a {
        color: #6aaf08;

        &:hover,
        &:focus,
        &:active {
            color: #79c709;
        }
    }
}

.table-of-contents {
    font-size: 18px;

    a {
        margin-left: 7px;
        padding-bottom: 5px;
    }

    li:last-child {
        a {
            padding-bottom: 0;
        }
    }
}

.privacy-list-square {
    list-style-type: square;
    padding-inline-start: 40px;

    li {
        margin-bottom: 10px;
    }
}
