//.section-header {
//padding-bottom: 60px;
//}
/**.parallax-section .section-header h3 {
    color: #fff;
}**/
.single-image {
    overflow: hidden;
}
.single-image img {
    width: 198px;
    max-width: 100%;

    @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
    }
}

.section-header h3 {
    color: #3e3e3e;
    font-weight: 700;
    text-transform: uppercase;

    &:after {
        content: "";
        display: block;
        width: 40px;
        border-bottom: 3px solid #e9ecf1;
        margin: 19px auto 24px;
    }
}

/** For icon fonts  */
.service-icon {
    font-size: 42px;
    color: #6aaf08;
    display: block;
    margin: 30px 0;
}

/** For custom SVG icons */
img.service-icon {
    height: 80px;
    width: auto;
    //background-color: #6aaf08;
    display: inline;
    margin: 15px 0;
    //filter: invert(62%) sepia(33%) saturate(3517%) hue-rotate(46deg) brightness(93%) contrast(94%);
}

.service-title {
    text-transform: capitalize;
    font-size: 20px;
    color: #3e3e3e;
    font-weight: 700;
}

.call-to-action {
    padding: 20px 0;
    background: #6aaf08;
}
.call-to-action .cta-inner {
    padding: 20px 0;

    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}
.call-to-action .cta-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
.btn.btn-bordered {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 12px 30px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    @include transition(all 0.2s ease-in-out);

    &:hover,
    &:focus,
    &:active {
        color: #555;
        background-color: rgba(255, 255, 255, 0.4);
    }
}
.call-to-action .cta-text {
    padding: 13px 30px 12px 0;
    float: left;
}
@media (max-width: 991px) {
    .call-to-action .cta-text {
        float: none;
        padding: 0 0 12px 0;
    }
}
.call-to-action .cta-button {
    float: right;
}
@media (max-width: 991px) {
    .call-to-action .cta-button {
        float: none;
    }
}

.spacer {
    position: relative;
    display: block;
    margin: 40px 0;
}
section {
    padding: 60px 0;
}
/**section.parallax-section {
    padding: 0;
}
.parallax-section {
    position: relative;
}
.parallax-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top-center;
    background-attachment: fixed;
    z-index: 32;
}
.parallax-inner {
    position: relative;
    padding: 60px 0;
    z-index: 33;
}
**/
.about-section p {
    line-height: 1.6;
    font-size: 16px;
}

//.services + .contact
.about,
.work,
.contact {
    background: #f2f2f2;

    .section-header {
        //margin-bottom: 20px;
    }

    .section-header h3:after {
        border-bottom: 3px solid #6aaf08;
    }
}

.spost {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;

    /* Removes padding from first and last service box in the row. This causes
     * the two end services to get wider by 15px, hence they are commented out. */
    /**&:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }**/
}

.service-post {
    //padding: 20px 20px;
    //margin: 0 auto 30px;
    //border-radius: 5px;
    //box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    //@include transition(box-shadow 0.2s ease-in-out);

    //&:hover,
    //&:focus,
    //&:active {
    //box-shadow: 0 0 35px rgba(106, 175, 8, 0.5);
    //}
    //
    p {
        margin: 0 0 10px;
        color: #6e6e6e;
        font-size: 15px;
        line-height: 27px;
        text-rendering: optimizeLegibility;
    }
}

.about-logo {
    //display: flex;
    //align-items: center;
    //justify-content: center;
}

p.section-text {
    margin-bottom: 2rem;
    font-size: 20px;
    line-height: 1.5;
}

.about {
    .social {
        text-align: center;

        i {
            line-height: 40px;
            font-size: 40px;

            &.fa-instagram {
                margin-right: 10px;
            }
        }
    }
}

/** Work Section  */
#work .work-container {
    margin-bottom: 0;
}

#work .work-item {
    padding: 0;
}

.work .row.section-header {
    margin-bottom: 20px;
}

.work {
    padding-bottom: 0 !important;
}

.subheading {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
}

.work-img i.project-plus {
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
    margin-top: -20px;
    width: 100%;
}

.work-container {
    margin-bottom: 30px;
}

.work-item {
    position: relative;
}

.work-item > a {
    display: block;
    position: relative;
}

.work-item img {
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.work-item .work-description {
    margin-top: 20px;
}

.work-item .work-description h2 {
    font-size: 14px;
    margin-bottom: 5px;
}

.work-item .work-description h2 {
    color: #3c3f46;
}

.work-item .work-description > span {
    color: #969ca7;
    font-size: 14px;
}

/**.work-item .work-description h2:hover,
.work-item .work-description > span:hover {
    color: #0ccfa8;
}**/

.work-item .work-overlay {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.work-img {
    position: relative;
    overflow: hidden;
}

.work-item:hover .work-overlay {
    opacity: 1;
    visibility: visible;
}

.work-hover .work-container {
    margin-bottom: 0;
}

.work-hover .work-description {
    padding: 18px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    display: block;
    left: 0;
    top: auto;
    bottom: -81px;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.work-hover .work-item:hover .work-img img {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
}

.work-hover .work-item:hover .work-description {
    bottom: 0;
}

.work-hover .work-item:hover .project-icons {
    position: absolute;
    top: 40%;
    margin-top: -20px;
}

.contact-map-wrapper {
    padding-bottom: 0;
}
h4.contact-heading {
    font-size: 24px;
    margin-bottom: 40px;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 30px;
    display: block;
}
.contact-form textarea {
    min-height: 150px;
}

.contact p.section-text {
    font-size: 16px;
    line-height: 30px;
    /* margin-bottom: 0; */
    color: #707070;
}

.contact {
    padding-bottom: 30px;
}

.contact.noheading {
    @include media-breakpoint-down(md) {
        padding-top: 15px;
    }
}

.footer-copyright {
    background: #3e3e3e;
    font-size: 13px;
    color: #a8a8a8;
    padding: 30px 0;

    .links {
        text-align: right;
    }

    a {
        color: #a8a8a8;

        &:hover,
        &:focus,
        &:active {
            color: #fefefe;
        }

        &:not(:last-child):after {
            content: "|";
            padding-left: 3px;
            padding-right: 3px;
            color: #a8a8a8;
        }
    }

    @include media-breakpoint-down(md) {
        text-align: center;

        .links {
            text-align: center;
            margin-top: 10px;
        }
    }
}

/**
 * Breadcrumbs header
 */
.page-header-breadcrumbs {
    padding: 25px 0;
    font-size: 18px;
    background-color: #f5f5f5;
    //background-size: cover;
    //background-image: url("img/page_header_breadcrumbs_bg.png");

    h1 {
        font-size: 22px;
        line-height: 34px;
        margin: 0;
        padding: 0;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
    }

    .breadcrumbs {
        line-height: 36px;
        font-style: italic;

        &,
        a,
        i {
            color: #777;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
        }

        i {
            font-size: 9px;
            margin-left: 3px;
            margin-right: 3px;
        }

        .current {
            color: #6aaf08;
        }

        a {
            @include transition(all 0.2s ease-in-out);
        }

        a:hover,
        a:focus,
        a:active {
            color: #333;
        }
    }
}

@include media-breakpoint-down(md) {
    .page-header-breadcrumbs {
        h1,
        .bcrumbs {
            text-align: center !important;
        }
    }
}

.service-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-full {
    padding-top: 50px;

    h3 {
        text-transform: uppercase;
    }
}

@include media-breakpoint-down(md) {
    .service-title {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.about-us-page-image {
    img {
        border-radius: 10px;
        width: 100%;
        display: block;
        vertical-align: middle;
    }
}

// Authentication forms
.auth-breadcrumbs {
    background: #f7f8f9;
    border-bottom: 2px solid #ddd;
}
.auth-form {
    background: #f7f8f9;

    .card {
        background: #fff;
        box-shadow: 0 10px 25px 0 rgba(50, 50, 93, 0.07),
            0 5px 15px 0 rgba(0, 0, 0, 0.07);
        border-radius: 0.25rem;
    }

    .card-header-title {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0;
        color: rgba(55, 77, 103, 0.7) !important;
        margin-bottom: 1rem;
    }
}
