//
// Dashboard card dollar amount
// (for balance due, income, expenses etc)
//
.dashboard-card-amount {
    font-size: 30px;
    //letter-spacing: 2.1px;
    color: #112b4a;
    line-height: 2.1875rem;
    font-weight: bold;

    &.overdue {
        color: $red;
    }
}

.dashboard-amount-alert {
    text-transform: uppercase;
    letter-spacing: 0.93px;
    font-size: 0.8125rem;
    //display: flex;
    //align-items: center;

    &.overdue {
        color: $red;
    }
}
